/* CSS for Projects */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url('https://images.unsplash.com/photo-1693745559025-75658021a07f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
    }

.container {
    background-color: rgba(0, 128, 111, 0.616);
    width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.projetos h3 {
    color: rgb(255, 255, 255);   
    margin: 10px 0;
    font-size: 36px;
    text-align: center;
    display: flex;
   
}

.input-projetos {
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 200px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Permite que as palavras se quebrem */
}


.input-projetos text{
    display: flex;
    word-wrap: break-word; /* Permite que as palavras se quebrem */


}
.button-add-projetos {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    margin-top: 20px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-projetos:hover {
    opacity: 0.8;
}

.button-add-projetos:active {
    opacity: 0.6;
}

.list-projetos-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    align-items: center;

}


.list-projetos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.list-projetos li {
    word-wrap: break-word;
    display: flex;
    align-items: center;
    max-width: 90%;
    box-sizing: border-box;
    padding: 5px;
    flex-basis: 100%;
}

.list-projetos li:last-child {
    margin-right: 0;
}

.projetos {
    display: flex;
    background-color: rgba(0, 0, 0, 0.718);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: auto;
    color: white;
}

.projetos img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.list-projetos img {
    margin: 10px;
}

.list-projetos li p {
    max-width: 80%;
}

.projetos:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}




/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .projetos h3 {
        font-size: 24px;
    }

    .input-projetos,
    .button-add-projetos {
        width: calc(100% - 20px);
    }

    .list-projetos li p {
        max-width: calc(100% - 20px);
    }
}
