* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
    
}

.container {
    background-color: rgba(0, 128, 111, 0.534);
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarefas{
    display: flex;
    background-color: rgba(0, 0, 0, 0.718);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: auto;
    color: white;
}

.tarefas h3 {
    color: rgb(255, 255, 255);   
    margin: 10px 0;
    font-size: 36px;
    text-align: center;
    display: flex;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 200px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Permite que as palavras se quebrem */
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    margin-top: 20px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.task {
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    width: 100%;
}

.task img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

.list-tasks li {
    align-items: center;
    display: flex;
    max-width: 100%;
    word-break: break-word; /* Change 'word-wrap' to 'word-break' */
    height: auto; /* Remove the fixed height */
}

.list-tasks li p {
    max-width: 80%;
}

.topnav {
    width: 100%; /* Manter a largura total */
    max-width: 800px; /* Definir a largura máxima para ser igual ao contêiner de tarefas */
    margin: 0 auto; /* Centralizar horizontalmente */
    background-color: transparent;
    background-color: #0000009d;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    position: fixed; /* Tornar a barra de navegação fixa */
    top: 0; /* Fixar no topo da tela */
    left: 0;
    right: 0;
    border-radius: 20px;
}

.topnav a {
    float: none; /* Remova o float */
    display: inline-block; /* Altere para display: inline-block; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 45px;
    border-radius: 50px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .tarefas h3 {
        font-size: 24px;
    }

    .input-task,
    .button-add-task {
        width: 100%;
    }

    .list-tasks li p {
        max-width: 100%;
    }
}
