* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url("https://images.unsplash.com/photo-1701220291849-735ab3532959?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.container {
    background-color: rgba(0, 128, 111, 0.534);
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarefas h3 {
    display: flex;
    background-color: rgb(249, 249, 249);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    margin-top: 20px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}

.task {
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    width: 100%;
}

.task img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

.list-tasks li {
    max-width: 100%;
    word-break: break-word; /* Change 'word-wrap' to 'word-break' */
    height: auto; /* Remove the fixed height */
}

.list-tasks li p {
    max-width: 80%;
}

.topnav {
    margin-top: 40px;
    background-color: #005f77;
    overflow: hidden;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content:center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .tarefas h3 {
        font-size: 24px;
    }

    .input-task,
    .button-add-task {
        width: 100%;
    }

    .list-tasks li p {
        max-width: 100%;
    }
}
